﻿@model NotebookTask.ViewModels.RegisterViewModel

<h2>Sign Up</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true" name="Register">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <div>
                    <label asp-for="Login">Enter login</label><br />
                    <input asp-for="Login" />
                    <span asp-validation-for="Login" />
                    @Html.ValidationMessageFor(l => l.Login)
                </div>
                <div>
                    <label asp-for="Email">Enter email</label><br />
                    <input type="text" asp-for="Email" name="Email" />
                    <span asp-validation-for="Email" />
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div>
                    <label asp-for="Password">Enter password</label><br />
                    <input asp-for="Password" />
                    <span asp-validation-for="Password" />
                    @Html.ValidationMessageFor(p => p.Password)
                </div>
                <div>
                    <label asp-for="PasswordConfirm">Confirm password</label><br />
                    <input asp-for="PasswordConfirm" />
                    <span asp-validation-for="PasswordConfirm" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign Up" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back</a>
</div>