﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h2 class="display-4">Welcome</h2>
    <h3>@Html.ActionLink("Login", "Login", "Account")</h3>
    <h3>@Html.ActionLink("Register", "Register", "Account")</h3>
</div>
