﻿@model IEnumerable<NotebookTask.ViewModels.ListNoteViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>Notes</h1>

<p>
    <a asp-action="Create">Create New</a> |
    <a asp-action="Search">Search page</a>
</p>

<form asp-action="List" asp-controller="UserNote">
    <p>
        @Html.DropDownList("categoryId", ViewBag.Categories as SelectList, "Select category")
        <input type="submit" value="Show notes by category" class="btn btn-primary" />
        <a asp-action="List">Show all notes</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.Image is null || item.Image.Equals(string.Empty))
                    {
                        <p>-</p>
                    }
                    else
                    {
                        <img src="~/Images/@item.Image" width="60" height="60" asp-append-version="true" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
