﻿@model IEnumerable<NotebookTask.ViewModels.ListNoteViewModel>

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<p>
    <a asp-action="List">Back to notes</a>
</p>

<form asp-action="Search" asp-controller="UserNote">
    <p>
        <input type="search" placeholder="Enter note name or category" value="@ViewData["GetText"]" name="text"/>
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="Search">Show all notes</a>
    </p>
</form>

<form asp-action="Search" asp-controller="UserNote">
    <p>
        <input type="datetime-local" name="begin"/>
        <input  type="datetime-local" name="end"/>
        <input type="submit" value="Search in datetime range" class="btn btn-primary" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.Image is null || item.Image.Equals(string.Empty))
                    {
                        <p>-</p>
                    }
                    else
                    {
                        <img src="~/Images/@item.Image" width="60" height="60" asp-append-version="true" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
            </tr>
        }
    </tbody>
</table>
