﻿
@{
    ViewData["Title"] = "Index";
}

<div class="text-left">
    <h2 class="display-4">Editor panel</h2>
    <h3>@Html.ActionLink("Categories", "List", "Category")</h3>
    <h3>@Html.ActionLink("Images", "List", "Image")</h3>
    <h3>@Html.ActionLink("Notes", "List", "Note")</h3>
</div>
