﻿@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-left">
    <h2 class="display-4">Admin panel</h2>
    <h3>@Html.ActionLink("Users", "List", "User")</h3>
    <h3>@Html.ActionLink("Categories", "List", "Category")</h3>
    <h3>@Html.ActionLink("Images", "List", "Image")</h3>
    <h3>@Html.ActionLink("Notes", "List", "Note")</h3>
</div>
