﻿@model NotebookTask.ViewModels.EditUserViewModel

@{
    ViewData["Title"] = "Edit";
}

<h3>User information</h3>
<hr />
<p>Email: @ViewData["UserEmail"]</p>
<p>Login: @ViewData["UserLogin"]</p>
<p>Role: @ViewData["UserRole"]</p>

<h3>Edit profile</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <h4>Edit email</h4>

        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="EditUserEmailViewModel.Email" class="control-label"></label>
                <input asp-for="EditUserEmailViewModel.Email" class="form-control" />
                <span asp-validation-for="EditUserEmailViewModel.Email" class="text-danger"></span>
            </div>
            @Html.ValidationMessageFor(m => m.EditUserEmailViewModel)
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

        <h4>Edit password</h4>
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="EditUserPasswordViewModel.Password" class="control-label"></label>
                <input asp-for="EditUserPasswordViewModel.Password" class="form-control" />
                <span asp-validation-for="EditUserPasswordViewModel.Password" class="text-danger"></span>
            </div>
            @Html.ValidationMessageFor(p => p.EditUserPasswordViewModel)
            <div class="form-group">
                <label asp-for="EditUserPasswordViewModel.PasswordConfirm" class="control-label"></label>
                <input asp-for="EditUserPasswordViewModel.PasswordConfirm" class="form-control" />
                <span asp-validation-for="EditUserPasswordViewModel.PasswordConfirm" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List" asp-controller="UserNote">Back to Notes</a>
</div>

